# Компиляторные артефакты
*.o
*.obj
*.a
*.so
*.dll
*.exe
*.out
*.elf
*.pdb
*.idb
*.ilk

# Папки сборки
build-Release/
build-Debug/

# Файлы CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Логи и временные файлы
*.log
*.tmp
*.swp
*.swo
*.bak
*.d

# IDE / редакторы
.vscode/
.idea/
*.code-workspace
*.sublime-project
*.sublime-workspace

# MacOS
.DS_Store
